.button{
  padding: 10px 15px; 

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  background: none;
  border: none;
  border-radius: 8px;
  
  transition: 0.2s;
  cursor: pointer;

  white-space: nowrap;
}



.button-L{
  padding: 15px 20px;
}

.button:hover{
  background: rgba(0, 0, 0, 0.1);
}

.button:active{
  background: none;
}


.button *{
  pointer-events: none;
}



.darkMode{
  color: white;
}

.darkMode:hover{
  background: rgba(255, 255, 255, 0.1);
}

.darkMode:active{
  background: none;
}


.darkMode-disabled{
  pointer-events: none;

  color: rgba(255, 255, 255, 0.5)!important;
}




.black{
  background: black;

  border: 1px solid rgba(0, 0, 0, 0);

  color: white;
}

.black:hover{
  background: rgba(69, 79, 91, 1);
}

.black:active{
  background: black;
}



.white{
  background: white;

  border: 1px solid rgba(0, 0, 0, 0);

  color: black;
}

.white:hover{
  background: rgb(176, 176, 176);
}

.white:active{
  background: rgb(255, 255, 255);
}



.orange{
  background: rgba(250, 84, 28, 1);

  border: 1px solid rgba(0, 0, 0, 0);

  color: white;
}

.orange:hover{
  background: rgba(179, 32, 14, 1);
}

.orange:active{
  background: rgba(250, 84, 28, 1);
}





.outlined-black{
  border: 1px solid rgba(145, 158, 171, 0.32);
  color: black;
}

.outlined-black:hover{
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 1);
}

.outlined-black:active{
  transition: 0s;
  background: none;
  border: 1px solid rgba(0, 0, 0, 1);
}





.disabled{
  background: rgba(145, 158, 171, 0.24);
  color: rgba(145, 158, 171, 0.5)!important;

  pointer-events: none;
}

.disabled:hover{
  background: rgba(145, 158, 171, 0.24);
  color: rgba(145, 158, 171, 0.5);
}















@media (prefers-color-scheme: dark) {
  .button{
    white-space: nowrap;
    color: white;
  }
  
  .button:hover{
    background: rgba(255, 255, 255, 0.1);
  }




  .black{
    background: white;
    color: black;
  }

  .black:hover{
    background: rgb(170, 170, 170);
  }



  .disabled{
    background: rgba(145, 158, 171, 0.2);
    color: rgba(145, 158, 171, 0.5)!important;
  
    pointer-events: none;
  }
  
  .disabled:hover{
    background: rgba(145, 158, 171, 0.24);
    color: rgba(145, 158, 171, 0.5);
  }
}










@media screen and (max-width: 1024px) {
  .button:hover{
    background: none;
  }

  .button:active{
    transition: 0s;
    background: rgba(0, 0, 0, 0.1);
  }



  .black:hover{
    background: black;
  }

  .black:active{
    background: rgba(69, 79, 91, 1);
  }



  .orange:hover{
    background: rgba(250, 84, 28, 1);
  }

  .orange:active{
    background: rgba(179, 32, 14, 1);
  }





  .outlined-black:hover{
    border: 1px solid rgba(145, 158, 171, 0.32);
  }





  @media (prefers-color-scheme: dark) {
    .button:active{
      background: rgba(255, 255, 255, 0.1);
    }
  }
}