.button{
  padding: 10px 15px; 

  display: flex;
  align-items: center;
  justify-content: center;
  
  background: none;
  border: none;
  border-radius: 10px;
  
  transition: 0.2s;
  cursor: pointer;

  white-space: nowrap;
}



.button-L{
  padding: 15px 20px;
}

.button:hover{
  background: rgba(0, 0, 0, 0.1);
}

.button:active{
  background: none;
}


.button *{
  pointer-events: none;
}



.black{
  background: black;

  border: 1px solid rgba(0, 0, 0, 0);

  color: white;
}

.black:hover{
  background: rgba(69, 79, 91, 1);
}

.black:active{
  background: black;
}



.orange{
  background: rgba(250, 84, 28, 1);

  border: 1px solid rgba(0, 0, 0, 0);

  color: white;
}

.orange:hover{
  background: rgba(179, 32, 14, 1);
}

.orange:active{
  background: rgba(250, 84, 28, 1);
}



.disabled{
  background: rgba(145, 158, 171, 0.24);
  color: rgba(145, 158, 171, 0.5);

  pointer-events: none;
}

.disabled:hover{
  background: rgba(145, 158, 171, 0.24);
  color: rgba(145, 158, 171, 0.5);
}















@media (prefers-color-scheme: dark) {
  .button{
    white-space: nowrap;
    color: white;
  }
  
  .button:hover{
    background: rgba(255, 255, 255, 0.1);
  }




  .black{
    background: white;
    color: black;
  }

  .black:hover{
    background: rgb(170, 170, 170);
  }



  .disabled{
    background: rgba(145, 158, 171, 0.2);
    color: rgba(145, 158, 171, 0.5)!important;
  
    pointer-events: none;
  }
  
  .disabled:hover{
    background: rgba(145, 158, 171, 0.24);
    color: rgba(145, 158, 171, 0.5);
  }
}










@media screen and (max-width: 1024px) {
  .button:hover{
    background: none;
  }

  .button:active{
    transition: 0s;
    background: rgba(0, 0, 0, 0.1);
  }



  .black:hover{
    background: black;
  }

  .black:active{
    background: rgba(69, 79, 91, 1);
  }



  .orange:hover{
    background: rgba(250, 84, 28, 1);
  }

  .orange:active{
    background: rgba(179, 32, 14, 1);
  }





  @media (prefers-color-scheme: dark) {
    .button:active{
      background: rgba(255, 255, 255, 0.1);
    }
  }
}