.App{
  min-height: 100vh;
  background: rgb(255, 255, 255);
}



.App *{
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.2s;
}



a{
  text-decoration: none;
}


.hide{
  opacity: 0;
  pointer-events: none;
}


















.container{
  width: 90%;
  max-width: 1025px;
  
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}










@media screen and (max-width: 992px) {
  .container{
    width: 90%;
  }
}